In [2]:
import regex as re
import numpy as np
import pandas as pd

# Q1

Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

In [30]:
string=input("str:")
pattern="[A-Za-z0-9]"
result=re.sub(pattern, '', string)
if len(result)==0:
    print("yes")
else:
    print("no")

str:Nimish##
no

# Q2

Create a function in python that matches a string that has an a followed by zero or more b's

In [40]:
string=input("str:")
result=re.search('ab*',string)
print(result)

str:fhnjabfwhlajacoiafabb
<regex.Match object; span=(4, 6), match='ab'>

# Q3

Create a function in python that matches a string that has an a followed by one or more b's

In [43]:
string=input("str:")
result=re.search('ab+',string)
print(result)

str:djoajaabbdie
<regex.Match object; span=(6, 9), match='abb'>

# Q4

Create a function in Python and use RegEx that matches a string that has an a followed by zero or one 'b'.

In [45]:
string=input("str:")
result=re.search('ab?',string)
print(result)

str:abbbboiqjinaabboijenab
<regex.Match object; span=(0, 2), match='ab'>

In [46]:
def text_match(text):
        patterns = 'ab?'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')

print(text_match("ab"))
print(text_match("abc"))
print(text_match("abbc"))
print(text_match("aabbc"))

Found a match!
Found a match!
Found a match!
Found a match!

# Q5

Write a Python program that matches a string that has an a followed by three 'b'.

In [48]:
string=input("str:")
result=re.search('ab{3}',string)
print(result)

str:abboqiejqeabbb
<regex.Match object; span=(10, 14), match='abbb'>

# Q6

Write a regular expression in Python to split a string into uppercase letters.

In [64]:
string=input("str:")
result=re.findall('[A-Z][a-z]*',string)
print(result)

str:DataTrainedEducation
['Data', 'Trained', 'Education']

# Q7

Write a Python program that matches a string that has an a followed by two to three 'b'.

In [67]:
string=input("str:")
result=re.search('ab{2,3}',string)
print(result)

str:abaofdabblkanfabbb
<regex.Match object; span=(6, 9), match='abb'>

# Q8

Write a Python program to find sequences of lowercase letters joined with a underscore.

In [69]:
string=input("str:")
result=re.finditer('[a-z]_',string)
for i in result:
    print(i)

str:ajnfak_ankalm_amk
<regex.Match object; span=(5, 7), match='k_'>
<regex.Match object; span=(12, 14), match='m_'>

# Q9

Write a Python program that matches a string that has an 'a' followed by anything, ending in 'b'.

In [77]:
string=input("str:")
result=re.finditer('a.*b$',string)
for i in result:
    print(i.group())

str:abaoijeb
abaoijeb

# Q10

Write a Python program that matches a word at the beginning of a string.

In [79]:
string=input("str:")
result=re.search('^\w+',string)
print(result)

str:@datascientist
None

# Q11

Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [83]:
string=input("str:")
result=re.search('[a-zA-Z,0-9_]*',string)
print(result)

str:\\abcdef
<regex.Match object; span=(0, 0), match=''>

# Q12

Write a Python program where a string will start with a specific number.

In [88]:
string=input("str:")
result=re.search('^8',string)
print(result)

str:4biajbc?
None

# Q13

Write a Python program to remove leading zeros from an IP address

In [105]:
IP_address="698.041.09.164"
result=re.sub('(.0)', '.', IP_address)
print(result)

698.41.9.164

# Q14

Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [93]:
text=input("enter any text:")
result=re.search('[A-Za-z]+\s\d+(?:st|nd|rd|th)\s\d{4}' ,text)
print(result)

enter any text:On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
<regex.Match object; span=(3, 19), match='August 15th 1947'>

# Q15

Write a Python program to search some literals strings in a string. Go to the editor
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [126]:
text='The quick brown fox jumps over the lazy dog.'
pattern=['fox','dog','horse']
for i in pattern:
    result=re.search(i,text)
    print(result)

<regex.Match object; span=(16, 19), match='fox'>
<regex.Match object; span=(40, 43), match='dog'>
None

# Q16

Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs.
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [108]:
text='The quick brown fox jumps over the lazy dog.'
pattern=('fox')
result=re.search(pattern,text)
print(result)

<regex.Match object; span=(16, 19), match='fox'>

# Q17

Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'. 
Pattern : 'exercises'.

In [112]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    print(match)

<regex.Match object; span=(7, 16), match='exercises'>
<regex.Match object; span=(22, 31), match='exercises'>
<regex.Match object; span=(36, 45), match='exercises'>

# Q18

Write a Python program to find the occurrence and position of the substrings within a string.

In [136]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for i in re.finditer(pattern, text):
    s = i.start()
    e = i.end()
    print('Found %s at %d:%d' % (text[s:e], s, e))

Found exercises at 7:16
Found exercises at 22:31
Found exercises at 36:45

# Q19

Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [143]:
date=input('Enter any date(YYYY-MM-DD): ')
changed_date_format=re.sub('(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1',date)
print("New date in DD-MM-YYYY Format:",changed_date_format)

Enter any date(YYYY-MM-DD): 1999-9-19
New date in DD-MM-YYYY Format: 19-9-1999

# Q20

Write a Python program to find all words starting with 'a' or 'e' in a given string.

an apple a day keeps the doctor away. elephant is the largest land animal.

In [92]:
string=input('enter any string value: ')
find=re.findall(r'\b[ae]\w+\b',string)

print(find)

enter any string value: an apple a day keeps the doctor away. elephant is the largest land animal.
['an', 'apple', 'away', 'elephant', 'animal']

# Q21

Write a Python program to separate and print the numbers and their position of a given string.

In [38]:
string= input('enter any string: ' )
result=re.finditer('\d+',string)
for i in result:
    print('number= ',i.group(0))
    print('position= ',i.start())

enter any string: 1 dozen is equal to 12 units
number=  1
position=  0
number=  12
position=  20

# Q22

Write a regular expression in python program to extract maximum numeric value from a string

In [52]:
string=input('enter any string: ')
result=re.findall('\d+',string)
numbers=map(int,result)
print(max(numbers))

enter any string: 123 123 322 1 34 522 4 53
522

# Q23

Write a Regex in Python to put spaces between words starting with capital letters

In [65]:
string=input('enter any string: ')
result=re.sub('[A-Z]',' \1',string)
print(result)

enter any string: HowAreYou
 ow re ou

# Q24

Python regex to find sequences of one upper case letter followed by lower case letters

In [69]:
string=input('enter any string: ')
result=re.findall('[A-Z][a-z]',string)
print(result)

enter any string: i Have Two banAnas
['Ha', 'Tw', 'An']

# Q25

Write a Python program to remove duplicate words from Sentence using Regular Expression

# Q26

 Write a python program using RegEx to accept string ending with alphanumeric character

In [80]:
def endswithalphanum(string):
    pattern = r'^.*[a-zA-Z0-9]$'
    match = re.match(pattern, string)
    if match:
        return True
    else:
        return False

i='nimish887'
j='nimish889*'
k='nimish887087'
endswithalphanum(i), endswithalphanum(j),endswithalphanum(k)

(True, False, True)

# Q27

Write a python program using RegEx to extract the hashtags.

In [82]:
string=input('enter any string: ')
result=re.findall('#\w+',string)
print(result)

enter any string: my #name is #nimish
['#name', '#nimish']

# Q28

Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [85]:
string=input('enter any string: ')
result=re.sub('<U\+\w+\>','',string)
print(result)

enter any string: @Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders"

# Q29

Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Store this sample text in the file and then extract dates.

In [86]:
def extract_dates_from_txt(file_path):
    with open(file_path, 'r') as file:
        text = file.read()
        pattern = r'\b\d{2}-\d{2}-\d{4}\b'
        dates = re.findall(pattern, text)
        return dates

# Example usage:
file_path = 'regextextfile.txt'
dates = extract_dates_from_txt(file_path)
print(dates)

['12-09-1992', '15-12-1999']

# Q30

Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'

Output: Python:Exercises::PHP:exercises:

In [87]:
string=input('enter any string: ')
result=re.sub('[ ,.]',':',string)
print(result)

enter any string: Python Exercises, PHP exercises.'
Python:Exercises::PHP:exercises:'