In [2]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.9.1-py3-none-any.whl (6.6 MB)
     ---------------------------------------- 6.6/6.6 MB 3.5 MB/s eta 0:00:00
Requirement already satisfied: certifi>=2021.10.8 in c:\users\bkasri\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.10.2-py3-none-any.whl (17 kB)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\bkasri\anaconda3\lib\site-packages (from selenium) (1.26.11)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     -------------------------------------- 384.9/384.9 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: idna in c:\users\bkasri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\bkasri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\bkasri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\bkasri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.1-py3-none-any.whl (14 kB)
Requirement already satisfied: sortedcontainers in c:\users\bkasri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\bkasri\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\bkasri\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     -------------------------------------- 58.3/58.3 kB 774.5 kB/s eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.1 h11-0.14.0 outcome-1.2.0 selenium-4.9.1 trio-0.22.0 trio-websocket-0.10.2 wsproto-1.2.0

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

## Q1)

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [7]:
naukri=webdriver.Chrome(r'chromedriver.exe')

In [8]:
naukri.get('https://www.naukri.com/')

In [11]:
designation=naukri.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [13]:
location=naukri.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input ')
location.send_keys('Bangalore')

In [15]:
search=naukri.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [22]:
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]

In [35]:
a=naukri.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in a[:10]:
    Job_Title.append(i.text)
Job_Title

['Tech Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Knowledge Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [29]:
b=naukri.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in b[:10]:
    Job_Location.append(i.text)

In [31]:
c=naukri.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in c[:10]:
    Company_Name.append(i.text)

In [23]:
d=naukri.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in d[:10]:
    Experience_Required.append(i.text)

In [36]:
Data_Analyst_Jobs=pd.DataFrame({'Job Title':Job_Title,'Location':Job_Location,'Company':Company_Name,'Experience Required':Experience_Required})
Data_Analyst_Jobs

,Job Title,Location,Company,Experience Required
0,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Wipro,3-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Teamlease Services Limited,3-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Brillio,0-2 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,HARMAN,3-5 Yrs
4,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
5,Knowledge Data Analyst,Bangalore/Bengaluru,SAP,4-6 Yrs
6,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Koch Industries,7-9 Yrs
8,Data Analyst,Bangalore/Bengaluru,Aventus Technology India,2-7 Yrs
9,Data Analyst,Bangalore/Bengaluru,Zoom Start India,1-4 Yrs

## Q2)

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [55]:
naukri2=webdriver.Chrome(r'chromedriver.exe')

In [56]:
naukri2.get('https://www.naukri.com/')

In [57]:
designation=naukri2.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys('Data Scientist')

In [58]:
location=naukri2.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input ')
location.send_keys('Bangalore')

In [59]:
search=naukri2.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [83]:
tit=[]
a=naukri2.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in a[:10]:
    tit.append(i.text)
tit

['Permanent Opportunity - Data Scientist(Snaplogic&Snowflake), Pan India',
 'Analystics & Modeling Specialist',
 'Hiring For Data Scientist',
 'Data Scientist_NLP',
 'Machine Learning (AI) Architect',
 'Director/Senior Director - Data Science',
 'Manager/Senior Manager - Data Science',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [84]:
loca=[]
b=naukri2.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in b[:10]:
    loca.append(i.text)
len(loca)

10

In [85]:
company=[]
c=naukri2.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in c[:10]:
    company.append(i.text)

In [86]:
Data_Scientist_Jobs=pd.DataFrame({'Job Title':tit,'Location':loca,'Company':company})
Data_Scientist_Jobs

,Job Title,Location,Company
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS)
3,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
4,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
5,Director/Senior Director - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India
6,Manager/Senior Manager - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Axtria India
7,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, C...",Cognizant
8,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain
9,Data Scientist,Remote,Intel

## Q3)

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [91]:
naukri3=webdriver.Chrome(r'chromedriver.exe')

In [92]:
naukri3.get('https://www.naukri.com/')

In [93]:
designation=naukri3.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys('Data Scientist')

In [94]:
search=naukri3.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [96]:
new_delhi=naukri3.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
new_delhi.click()

In [98]:
salary=naukri3.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [129]:
t=[]
w=naukri3.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in w[:10]:
    t.append(i.text)

In [130]:
l=[]
x=naukri3.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in x[:10]:
    l.append(i.text)

In [131]:
c=[]
y=naukri3.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in y[:10]:
    c.append(i.text)

In [132]:
er=[]
z=naukri3.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in z[:10]:
    er.append(i.text)

In [133]:
len(l),len(t),len(c),len(er)

(10, 10, 10, 10)

In [134]:
Data_Scientist_Jobs_New_delhi=pd.DataFrame({'Job Title':t,'Location':l,'Company':c,'Experience Required':er})
Data_Scientist_Jobs_New_delhi

,Job Title,Location,Company,Experience Required
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
3,Data Scientist,Delhi / NCR,Tata Consultancy Services (TCS),7-12 Yrs
4,Lead Assistant Manager,Gurgaon/Gurugram,EXL,2-6 Yrs
5,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
6,Data Scientist,Noida,Innovaccer,2-4 Yrs
7,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
8,MLOps - Data Scientist,Noida,Paytm,3-8 Yrs
9,Data Scientist,"Kolkata, Pune, Gurgaon/Gurugram",Gforce Consulting Solutions,3-8 Yrs

## Q4)

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [10]:
fk=webdriver.Chrome(r'chromedriver.exe')

In [11]:
fk.get('https://www.flipkart.com/')

In [12]:
search=fk.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sunglasses')

In [15]:
search=fk.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [16]:
b=[]
pds=[]
pr=[]

In [18]:
for page in range(0,3):
    brand=fk.find_elements(By.XPATH,'//div[@class="_2B099V"]')
    for i in brand:
        b.append(i.text)
        
for page in range(0,3):
    pdes=fk.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pdes:
        pds.append(i.text)
        
for page in range(0,3):
    price=fk.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        pr.append(i.text)
        
len(b),len(pds),len(pr)

(120, 111, 120)

In [35]:
Sunglasses=pd.DataFrame({'Brand':b[:100],'Product Description':pds[:100],'Price':pr[:100]})
Sunglasses

,Brand,Product Description,Price
0,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Retro Squ...","₹1,018"
1,"VINCENT CHASE\nPolarized, UV Protection Round ...","Polarized, UV Protection Round Sunglasses (51)",₹965
2,SRPM\nUV Protection Wayfarer Sunglasses (50)\n...,UV Protection Wayfarer Sunglasses (50),₹149
3,SRPM\nUV Protection Wayfarer Sunglasses (50)\n...,UV Protection Wayfarer Sunglasses (50),₹179
4,"Elligator\nUV Protection Cat-eye, Retro Square...","UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149
...,...,...,...
95,"VINCENT CHASE\nPolarized, UV Protection Round ...","Mirrored, Night Vision, UV Protection Wayfarer...",₹781
96,Fastrack\nUV Protection Wayfarer Sunglasses (F...,"UV Protection, Polarized Wayfarer Sunglasses (...",₹579
97,"Fastrack\nGradient, UV Protection Wayfarer Sun...",UV Protection Sports Sunglasses (65),₹539
98,Fastrack\nUV Protection Shield Sunglasses (Fre...,UV Protection Round Sunglasses (53),₹599
99,VINCENT CHASE\nby Lenskart UV Protection Round...,"by Lenskart Polarized, UV Protection Aviator S...",₹873

## Q5)

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/
itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [147]:
fk2=webdriver.Chrome(r'chromedriver.exe')

In [153]:
fk2.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=organic&iid=575ce9d8-41ee-4ede-af79-76d5d63eb703.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=81ipfavcfk0000001681245517408&qH=f6cdfdaa9f3c23f3')

In [155]:
allreviews=fk2.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div')
allreviews.click()

In [170]:
r=[]
for page in range(0,10):
    ratings=fk2.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings:
        r.append(i.text)
len(r)

100

In [171]:
rs=[]
for page in range(0,10):
    rev_sum=fk2.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rev_sum:
        rs.append(i.text)
len(rs)

100

In [172]:
fr=[]
for page in range(0,10):
    frev=fk2.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in frev:
        fr.append(i.text)
len(fr)

100

In [173]:
Iphone_100_reveiws=pd.DataFrame({'Ratings':r,'Review Summary':rs,'Full Review':fr})
Iphone_100_reveiws

,Ratings,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Highly recommended,It's my first time to use iOS phone and I am l...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

## Q6)

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [174]:
fks=webdriver.Chrome(r'chromedriver.exe')

In [175]:
fks.get('https://www.flipkart.com/')

In [180]:
search=fks.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sneakers')
search1=fks.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search1.click()

In [191]:
b=[]
for page in range(0,3):
    brand=fks.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        b.append(i.text)
len(b)

120

In [194]:
pds=[]
for page in range(0,3):
    des=fks.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des:
        pds.append(i.text)
len(pds)

117

In [197]:
p=[]
for page in range(0,3):
    pr=fks.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        p.append(i.text)
len(p)

120

In [198]:
Sneakers=pd.DataFrame({'Brand Name':b[:100],'Product Description':pds[:100],'Price':p[:100]})
Sneakers

,Brand Name,Product Description,Price
0,RapidBox,Sneakers For Men,₹579
1,K- FOOTLANCE,Sneakers For Men,₹399
2,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹249
3,aadi,Synthetic| Lightweight| Premiun| Comfort| Summ...,₹249
4,World Wear Footwear,Latest Exclusive Affordable Collection of Tren...,₹249
...,...,...,...
95,PUMA,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,"₹1,159"
96,aadi,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹299
97,aadi,Combo Pack of 2 Casual Shoe Sneakers For Men,₹299
98,BIRDE,Sneaker for Mens | Casual Shoes | Men Shoes Sn...,₹588
99,BIRDE,Sneakers For Men,₹499

## Q7)

Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [199]:
fkl=webdriver.Chrome(r'chromedriver.exe')

In [200]:
fkl.get('https://www.flipkart.com/')

In [201]:
search=fkl.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('laptop')
search1=fkl.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search1.click()

In [204]:
i7=fkl.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[1]/div/div[1]/div/section[4]/div[2]/div[1]/div[4]/div/label/div[2]')
i7.click()

In [213]:
t=[]
tit=fkl.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in tit:
    t.append(i.text)

In [214]:
r=[]
rat=fkl.find_elements(By.XPATH,'//div[@class="_3LWZlK"]')
for i in rat:
    r.append(i.text)

In [215]:
p=[]
pri=fkl.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')
for i in pri:
    p.append(i.text)

In [216]:
TOP_10_LAPTOPS=pd.DataFrame({'Laptop Name':t[:10],'Ratings':r[:10],'Price':p[:10]})
TOP_10_LAPTOPS

                                         Laptop Name Ratings      Price
0  acer Predator Helios Neo 16 Core i7 13th Gen -...     4.2  ₹1,24,990
1  SAMSUNG Galaxy Book3 Core i7 Core i7 13th Gen ...     4.3    ₹84,990
2  MSI Core i7 11th Gen - (16 GB/1 TB HDD/256 GB ...     4.2    ₹69,990
3  ASUS Vivobook 15 Core i7 11th Gen - (16 GB/512...     4.5    ₹56,990
4  HP Pavilion Core i7 12th Gen - (16 GB/1 TB SSD...     4.4    ₹84,999
5  MSI Core i7 11th Gen - (16 GB/1 TB HDD/256 GB ...       4    ₹63,990
6  HP Pavilion Plus Creator OLED Eyesafe (2023) I...       4    ₹93,990
7  MSI Core i7 12th Gen - (16 GB/1 TB SSD/Windows...     4.1  ₹1,59,990
8  MSI Core i7 12th Gen - (16 GB/512 GB SSD/Windo...     4.4    ₹83,990
9  Lenovo IdeaPad 5 Core i7 12th Gen - (16 GB/512...     4.3    ₹79,990

## Q8)

Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [217]:
quotes=webdriver.Chrome(r'chromedriver.exe')

In [218]:
quotes.get('https://www.azquotes.com/')

In [219]:
tq=quotes.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
tq.click()

In [222]:
q=[]
for page in range(0,10):
    qs=quotes.find_elements(By.XPATH,'//a[@class="title"]')
    for i in qs:
        q.append(i.text)

In [223]:
a=[]
for page in range(0,10):
    aut=quotes.find_elements(By.XPATH,'//div[@class="author"]')
    for i in aut:
        a.append(i.text)

In [224]:
toq=[]
for page in range(0,10):
    type=quotes.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type:
        toq.append(i.text)

In [225]:
len(q),len(a),len(toq)

(1000, 1000, 1000)

In [226]:
Top_1000_quotes=pd.DataFrame({'Author':a,'Quote':q,'Type Of Quote':q})
Top_1000_quotes

,Author,Quote,Type Of Quote
0,Michael Porter,The essence of strategy is choosing what not t...,The essence of strategy is choosing what not t...
1,Golda Meir,One cannot and must not try to erase the past ...,One cannot and must not try to erase the past ...
2,Theodore Roosevelt,Patriotism means to stand by the country. It d...,Patriotism means to stand by the country. It d...
3,Nelson Mandela,Death is something inevitable. When a man has ...,Death is something inevitable. When a man has ...
4,Erma Bombeck,You have to love a nation that celebrates its ...,You have to love a nation that celebrates its ...
...,...,...,...
995,Hunter S. Thompson,"When the going gets weird, the weird turn pro.","When the going gets weird, the weird turn pro."
996,Corrie Ten Boom,When a train goes through a tunnel and it gets...,When a train goes through a tunnel and it gets...
997,Dalai Lama,If you think you are too small to make a diffe...,If you think you are too small to make a diffe...
998,Mother Teresa,"God doesn't require us to succeed, he only req...","God doesn't require us to succeed, he only req..."
999,Norman Vincent Peale,Change your thoughts and you change your world.,Change your thoughts and you change your world.

## Q9)

Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [166]:
pm=webdriver.Chrome(r'chromedriver.exe')

In [167]:
pm.get('https://www.jagranjosh.com/')

In [168]:
gk=pm.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
gk.click()

In [170]:
pms=pm.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pms.click()

In [175]:
n=[]
bd=[]
too=[]
r=[]
table=pm.find_elements(By.TAG_NAME,'tr')
for i in table[1:-1]:
    n.append(i.text.split('\n')[1:2])
    bd.append(i.text.split('\n')[2:3])
    too.append(i.text.split('\n')[3:4])

for i in table[1:-3]:
    r.append(i.text.split('\n')[5:6])
for i in table[-3:-1]:
    r.append(i.text.split('\n')[4:5])
 
    
len(n),len(bd),len(too),len(r)

(19, 19, 19, 19)

In [176]:
Prime_Ministers=pd.DataFrame({'Name':n,'Born-Dead':bd,'Term of Office':too,'Remarks':r})
Prime_Ministers

,Name,Born-Dead,Term of Office,Remarks
0,[Jawahar Lal Nehru],[(1889–1964)],[15 August 1947 to 27 May 1964],[The first prime minister of India and the lon...
1,[Gulzarilal Nanda (Acting)],[(1898-1998)],"[27 May 1964 to 9 June 1964,]",[First acting PM of India]
2,[Lal Bahadur Shastri],[(1904–1966)],[9 June 1964 to 11 January 1966],[He has given the slogan of 'Jai Jawan Jai Kis...
3,[Gulzari Lal Nanda (Acting)],[(1898-1998)],[11 January 1966 to 24 January 1966],[-]
4,[Indira Gandhi],[(1917–1984)],[24 January 1966 to 24 March 1977],[First female Prime Minister of India]
5,[Morarji Desai],[(1896–1995)],[24 March 1977 to 28 July 1979 ],[Oldest to become PM (81 years old) and first ...
6,[Charan Singh],[(1902–1987)],[28 July 1979 to 14 January 1980],[Only PM who did not face the Parliament]
7,[Indira Gandhi],[(1917–1984)],[14 January 1980 to 31 October 1984],[The first lady who served as PM for the secon...
8,[Rajiv Gandhi],[(1944–1991)],[31 October 1984 to 2 December 1989],[Youngest to become PM (40 years old)]
9,[V. P. Singh],[(1931–2008)],[2 December 1989 to 10 November 1990],[First PM to step down after a vote of no conf...
10,[Chandra Shekhar],[(1927–2007)],[10 November 1990 to 21 June 1991],[He belongs to Samajwadi Janata Party]
11,[P. V. Narasimha Rao],[(1921–2004)],[21 June 1991 to 16 May 1996],[First PM from South India]
12,[Atal Bihari Vajpayee],[(1924- 2018)],[16 May 1996 to 1 June 1996],[PM for shortest tenure]
13,[H. D. Deve Gowda],[(born 1933)],[1 June 1996 to 21 April 1997],[He belongs to Janata Dal]
14,[Inder Kumar Gujral],[(1919–2012)],[21 April 1997 to 19 March 1998 ],[------]
15,[Atal Bihari Vajpayee],[(1924-2018)],[19 March 1998 to 22 May 2004 ],[ The first non-congress PM who completed a fu...
16,[Manmohan Singh],[(born 1932)],[22 May 2004 to 26 May 2014 ],[ First Sikh PM]
17,[Narendra Modi],[(born 1950)],[26 May 2014 - 2019],[4th Prime Minister of India who served two co...
18,[Narendra Modi],[(born 1950)],[30 May 2019- Incumbent],[First non-congress PM with two consecutive te...

## Q10)

Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [95]:
motor=webdriver.Chrome(r'chromedriver.exe')
motor.get('https://www.motor1.com/')

In [97]:
search=motor.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys('50 most expensive cars')
searchbutton=motor.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
searchbutton.click()

In [98]:
link=motor.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
link.click()

In [119]:
n=[]
names=motor.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in names[:50]:
    n.append(i.text)
    
p=[]
prices=motor.find_elements(By.TAG_NAME,"strong")
for i in prices:
    if len(i.text)>=1:
        p.append(i.text.split(':')[-1])

In [120]:
len(n),len(p)

(50, 50)

In [121]:
Most_Expensive_Cars=pd.DataFrame({'Name':n,'Price':p})
Most_Expensive_Cars

                               Name                  Price
0                     De Tomaso P72           $1.3 Million
1                 Ferrari LaFerrari           $1.4 Million
2                     Pagani Huayra           $1.4 Million
3                      McLaren Elva           $1.7 Million
4                       Czinger 21C           $1.7 Million
5                     Ferrari Monza           $1.7 Million
6                Gordon Murray T.33           $1.7 Million
7                 Koenigsegg Gemera           $1.7 Million
8                       Zenvo TSR-S           $1.7 Million
9                Hennessey Venom F5           $1.8 Million
10                  Bentley Bacalar           $1.9 Million
11    Hispano Suiza Carmen Boulogne           $1.9 Million
12           Bentley Mulliner Batur           $2.0 Million
13                     Deus Vayanne           $2.0 Million
14                      SSC Tuatara          $2.0 Million*
15                      Lotus Evija           $2.1 Million
16              Aston Martin Vulcan           $2.3 Million
17                       Delage D12           $2.3 Million
18                McLaren Speedtail           $2.3 Million
19                     Rimac Nevera           $2.4 Million
20                    Pagani Utopia           $2.5 Million
21             Pininfarina Battista           $2.5 Million
22                Ferrari FXX K Evo           $2.6 Million
23               Gordon Murray T.50           $2.6 Million
24             Lamborghini Countach           $2.6 Million
25         Mercedes-AMG Project One           $2.7 Million
26              Aston Martin Victor           $3.0 Million
27      Hennessey Venom F5 Roadster           $3.0 Million
28                 Koenigsegg Jesko           $3.0 Million
29            Aston Martin Valkyrie           $3.2 Million
30        W Motors Lykan Hypersport           $3.4 Million
31                    McLaren Solus           $3.5 Million
32        Pagani Huayra Roadster BC           $3.5 Million
33         Bugatti Chiron Pur Sport           $3.6 Million
34                 Lamborghini Sian           $3.6 million
35                 Koenigsegg CC850           $3.7 Million
36  Bugatti Chiron Super Sport 300+           $3.9 Million
37               Lamborghini Veneno           $4.5 Million
38                   Bugatti Bolide           $4.7 Million
39                  Bugatti Mistral           $5.0 Million
40              Pagani Huayra Imola           $5.4 Million
41                     Bugatti Divo           $5.8 Million
42              SP Automotive Chaos           $6.4 Million
43                 Pagani Codalunga           $7.4 Million
44         Mercedes-Maybach Exelero           $8.0 Million
45               Bugatti Centodieci           $9.0 Million
46          Bugatti Chiron Profilée          $10.8 Million
47             Rolls-Royce Sweptail          $12.8 Million
48         Bugatti La Voiture Noire          $13.4 Million
49           Rolls-Royce Boat Tail*   $28.0 Million (est.)