In [231]:
import requests
from bs4 import BeautifulSoup

In [232]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [233]:
soup=BeautifulSoup(page.content)

In [234]:
title=soup.find('h2',class_='mp-h2')
title.text

"From today's featured article"

In [235]:
titles=[]
for i in soup.find_all('h2',class_='mp-h2'):
    titles.append(i.text)

titles

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [236]:
import pandas as pd
headingsdf=pd.DataFrame(titles,columns=['Headings'],index=[1,2,3,4,5,6,7,8])
headingsdf

                        Headings
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [237]:
pmpage=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
pmpage

In [238]:
soup=BeautifulSoup(pmpage.content)

In [142]:
pm1=soup.find('h3')
pm1.text

'Shri Ram Nath Kovind (birth - 1945)'

In [143]:
pm=[]
for i in soup.find_all('h3'):
    pm.append(i.text)
pm

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [144]:
too=[]
for i in soup.find_all('div',class_='presidentListing'):
    too.append(i.text.split('\n')[2])
too

['Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'Term of Office: 25 July, 2012 to 25 July, 2017 ',
 'Term of Office: 25 July, 2007 to 25 July, 2012 ',
 'Term of Office: 25 July, 2002 to 25 July, 2007 ',
 'Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Term of Office: 24 August, 1974 to 11 February, 1977',
 'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office: 13 May, 1967 to 3 May, 1969',
 'Term of Office: 13 May, 1962 to 13 May, 1967',
 'Term of Office: 26 January, 1950 to 13 May, 1962']

In [145]:
len(too), len(pm)

(14, 14)

In [146]:
pm=pd.DataFrame({'Name':pm,'Term Of Office':too})
pm

,Name,Term Of Office
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

In [147]:
odir=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
odir

In [148]:
odi=BeautifulSoup(odir.content)

In [149]:
t=odi.find('span',class_='u-hide-phablet')
t.text.split('\n')

['Australia']

In [150]:
teams=[]
for i in odi.find_all('span',class_="u-hide-phablet"):
    teams.append(i.text)
teams
t10=teams[:10]
t10

['Australia',
 'Pakistan',
 'India',
 'New Zealand',
 'England',
 'South Africa',
 'Bangladesh',
 'Afghanistan',
 'Sri Lanka',
 'West Indies']

In [151]:
australia=odi.find('td',class_='rankings-block__banner--matches')
australia.text

'23'

In [152]:
matches=[]
for i in odi.find_all('tr',class_='table-body'):
    matches.append(i.text.split('\n')[7])

matches9=matches[:9]
matches9

['20', '33', '27', '24', '19', '25', '10', '21', '25']

In [153]:
m10=[australia.text]+matches9
m10

['23', '20', '33', '27', '24', '19', '25', '10', '21', '25']

In [154]:
australiap=odi.find('td',class_='rankings-block__banner--points')
australiap.text

'2,714'

In [155]:
points=[]
for i in odi.find_all('tr',class_='table-body'):
    points.append(i.text.split('\n')[8])
points9=points[:9]

In [156]:
p10=[australiap.text]+points[:9]
print(p10,end='')

['2,714', '2,316', '3,807', '2,806', '2,426', '1,910', '2,451', '878', '1,682', '1,797']

In [157]:
australiar=odi.find('td',class_='rankings-block__banner--rating')
r1=australiar.text.split('\n')[1]
r1

'                            118'

In [158]:
ratings=[]
for i in odi.find_all('tr',class_='table-body'):
    ratings.append(i.text.split('\n')[9])
print(ratings,end='')

['116', '115', '104', '101', '101', '98', '88', '80', '72', '51', '46', '46', '37', '35', '29', '26', '20', '18', '4']

In [159]:
r10=[r1]+ratings[:9]
r10

['                            118',
 '116',
 '115',
 '104',
 '101',
 '101',
 '98',
 '88',
 '80',
 '72']

In [160]:
ODI_top_10_teams=pd.DataFrame({'Teams':t10, 'Matches':m10, "Points":p10,"Ratings":r10})
ODI_top_10_teams

          Teams Matches Points                          Ratings
0     Australia      23  2,714                              118
1      Pakistan      20  2,316                              116
2         India      33  3,807                              115
3   New Zealand      27  2,806                              104
4       England      24  2,426                              101
5  South Africa      19  1,910                              101
6    Bangladesh      25  2,451                               98
7   Afghanistan      10    878                               88
8     Sri Lanka      21  1,682                               80
9   West Indies      25  1,797                               72

In [161]:
players=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

In [162]:
pl=BeautifulSoup(players.content)

In [163]:
pl1=pl.find('div',class_='rankings-block__banner--name')
pl1.text

'Babar Azam'

In [164]:
plsa=[]
for i in pl.find_all('td',class_='table-body__cell name'):
        plsa.append(i.text.split('\n')[1])
pl10=[pl1.text]+plsa[:9]
pl10

['Babar Azam',
 'Rassie van der Dussen',
 'Fakhar Zaman',
 'Imam-ul-Haq',
 'Shubman Gill',
 'David Warner',
 'Harry Tector',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma']

In [165]:
pt0=pl.find('div',class_='rankings-block__banner--nationality')
pt1=pt0.text.split('\n')[2]
pt1

'PAK'

In [166]:
ptf=[]
for i in pl.find_all('span',class_='table-body__logo-text'):
    ptf.append(i.text)
pt10=[pt1]+ptf[:9]
pt10

['PAK', 'SA', 'PAK', 'PAK', 'IND', 'AUS', 'IRE', 'IND', 'SA', 'IND']

In [167]:
pr0=pl.find('div',class_='rankings-block__banner--rating')
pr1=pr0.text.split('\n')
pr1

['886']

In [168]:
prf=[]
for i in pl.find_all('td',class_='table-body__cell u-text-right rating'):
    prf.append(i.text)
pr10=pr1+prf[:9]
pr10

['886', '777', '755', '745', '738', '726', '722', '719', '718', '707']

In [169]:
ODI_top_10_batsmen=pd.DataFrame({'NAME':pl10,'TEAM':pt10,'RATINGS':pr10})
ODI_top_10_batsmen

                    NAME TEAM RATINGS
0             Babar Azam  PAK     886
1  Rassie van der Dussen   SA     777
2           Fakhar Zaman  PAK     755
3            Imam-ul-Haq  PAK     745
4           Shubman Gill  IND     738
5           David Warner  AUS     726
6           Harry Tector  IRE     722
7            Virat Kohli  IND     719
8        Quinton de Kock   SA     718
9           Rohit Sharma  IND     707

In [170]:
bowl=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [171]:
b=BeautifulSoup(bowl.content)

In [172]:
b1=b.find('div',class_='rankings-block__banner--name-large')
b1.text

'Josh Hazlewood'

In [173]:
ball=[]
for i in b.find_all('td',class_='table-body__cell rankings-table__name name'):
    ball.append(i.text.split('\n')[1])

ball10=[b1.text]+ball[:9]
ball10

['Josh Hazlewood',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Trent Boult',
 'Rashid Khan',
 'Adam Zampa',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi',
 'Shaheen Afridi']

In [174]:
bc0=b.find('div',class_='rankings-block__banner--nationality')
bc1=bc0.text.split('\n')[2]

In [175]:
bc=[]
for i in b.find_all('span',class_='table-body__logo-text'):
    bc.append(i.text)

bc10=[bc1]+bc[:9]
bc10

['AUS', 'IND', 'AUS', 'NZ', 'NZ', 'AFG', 'AUS', 'AFG', 'AFG', 'PAK']

In [176]:
br1=b.find('div',class_='rankings-block__banner--rating')
br1.text

'705'

In [177]:
br=[]
for i in b.find_all('td',class_='table-body__cell rating'):
    br.append(i.text)

br10=[br1.text]+br[:9]
br10

['705', '691', '686', '667', '660', '659', '652', '637', '631', '630']

In [178]:
ODI_top_10_bowlers=pd.DataFrame({'NAME':ball10,"TEAM":bc10,"RATINGS":br10})
ODI_top_10_bowlers

               NAME TEAM RATINGS
0    Josh Hazlewood  AUS     705
1    Mohammed Siraj  IND     691
2    Mitchell Starc  AUS     686
3        Matt Henry   NZ     667
4       Trent Boult   NZ     660
5       Rashid Khan  AFG     659
6        Adam Zampa  AUS     652
7  Mujeeb Ur Rahman  AFG     637
8     Mohammad Nabi  AFG     631
9    Shaheen Afridi  PAK     630

In [179]:
wot=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
wot

In [180]:
wwt=BeautifulSoup(wot.content)

In [181]:
wt=wwt.find('span',class_='u-hide-phablet')
wt.text.split('\n')

['Australia']

In [182]:
wteams=[]
for i in wwt.find_all('span',class_="u-hide-phablet"):
    wteams.append(i.text)

wt10=wt.text.split('\n')+wteams[:9]
wt10

['Australia',
 'Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Thailand',
 'Bangladesh',
 'Pakistan']

In [183]:
waustralia=wwt.find('td',class_='rankings-block__banner--matches')
waustralia.text

'21'

In [184]:
wmatches=[]
for i in wwt.find_all('tr',class_='table-body'):
    wmatches.append(i.text.split('\n')[7])

wm10=[waustralia.text]+wmatches[:9]
wm10

['21', '28', '26', '27', '25', '27', '11', '14', '27', '9']

In [185]:
waustraliap=wwt.find('td',class_='rankings-block__banner--points')
waustraliap.text

'3,603'

In [186]:
wpoints=[]
for i in wwt.find_all('tr',class_='table-body'):
    wpoints.append(i.text.split('\n')[8])
wp10=[waustraliap.text]+wpoints[:9]
print(wp10,end=' ')

['3,603', '3,342', '3,098', '2,820', '2,553', '2,535', '821', '977', '1,678', '479']

In [187]:
waustraliar=wwt.find('td',class_='rankings-block__banner--rating')
wr1=waustraliar.text.split('\n')[1]
wr1

'                            172'

In [188]:
wratings=[]
for i in wwt.find_all('tr',class_='table-body'):
    wratings.append(i.text.split('\n')[9])

wr10=[wr1]+wratings[:9]
wr10

['                            172',
 '119',
 '119',
 '104',
 '102',
 '94',
 '75',
 '70',
 '62',
 '53']

In [189]:
ODI_top_10_teams_women=pd.DataFrame({'Teams':wt10, 'Matches':wm10, "Points":wp10,"Ratings":wr10})
ODI_top_10_teams_women

          Teams Matches Points                          Ratings
0     Australia      21  3,603                              172
1     Australia      28  3,342                              119
2       England      26  3,098                              119
3  South Africa      27  2,820                              104
4         India      25  2,553                              102
5   New Zealand      27  2,535                               94
6   West Indies      11    821                               75
7      Thailand      14    977                               70
8    Bangladesh      27  1,678                               62
9      Pakistan       9    479                               53

In [190]:
wplayers=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
wplayers

In [191]:
wbat=BeautifulSoup(wplayers.content)

In [192]:
wpl1=wbat.find('div',class_='rankings-block__banner--name-large')
wpl1.text

'Beth Mooney'

In [193]:
wplsa=[]
for i in wbat.find_all('td',class_='table-body__cell rankings-table__name name'):
        wplsa.append(i.text.split('\n')[1])

wpl10=[wpl1.text]+wplsa[:9]

In [194]:
wpt0=wbat.find('div',class_='rankings-block__banner--nationality')
wpt1=wpt0.text.split('\n')[2]

In [195]:
wptf=[]
for i in wbat.find_all('span',class_='table-body__logo-text'):
    wptf.append(i.text)
wpt10=[wpt1]+wptf[:9]

In [196]:
wpr0=wbat.find('div',class_='rankings-block__banner--rating')
wpr1=wpr0.text.split('\n')
wpr1

['754']

In [197]:
wprf=[]
for i in wbat.find_all('td',class_='table-body__cell rating'):
    wprf.append(i.text)
wpr9=wprf[:9]
wpr9
wpr10=wpr1+wpr9
wpr10

['754', '732', '731', '717', '716', '714', '673', '626', '595', '588']

In [198]:
ODI_top_10_Wbatsmen=pd.DataFrame({'NAME':wpl10,'TEAM':wpt10,'RATINGS':wpr10})
ODI_top_10_Wbatsmen

                  NAME TEAM RATINGS
0          Beth Mooney  AUS     754
1      Laura Wolvaardt   SA     732
2       Natalie Sciver  ENG     731
3          Meg Lanning  AUS     717
4     Harmanpreet Kaur  IND     716
5      Smriti Mandhana  IND     714
6  Chamari Athapaththu   SL     673
7         Ellyse Perry  AUS     626
8       Tammy Beaumont  ENG     595
9      Stafanie Taylor   WI     588

In [199]:
wall0=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
wall0

In [200]:
wall=BeautifulSoup(wall0.content)

In [201]:
wa1=wall.find('div',class_='rankings-block__banner--name-large')
wa1.text

'Hayley Matthews'

In [202]:
wa=[]
for i in wall.find_all('td',class_='table-body__cell rankings-table__name name'):
    wa.append(i.text.split('\n')[1])
wa9=wa[:9]
wa9
wa10=[wa1.text]+wa9
wa10

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Sophie Ecclestone']

In [203]:
wac0=wall.find('div',class_='rankings-block__banner--nationality')
wac1=wac0.text.split('\n')[2]
wac1

'WI'

In [204]:
wac=[]
for i in wall.find_all('span',class_='table-body__logo-text'):
    wac.append(i.text)
wac10=[wac1]+wac[:9]
wac10

['WI', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'ENG']

In [205]:
war1=wall.find('div',class_='rankings-block__banner--rating')
war1.text

'373'

In [206]:
war=[]
for i in wall.find_all('td',class_='table-body__cell rating'):
    war.append(i.text)
war10=[war1.text]+war[:9]
war10

['373', '371', '366', '349', '336', '322', '292', '250', '232', '205']

In [207]:
ODI_top_10_Women_AllRounder=pd.DataFrame({'NAME':wa10,"TEAM":wac10,"RATINGS":war10})
ODI_top_10_Women_AllRounder

                NAME TEAM RATINGS
0    Hayley Matthews   WI     373
1     Natalie Sciver  ENG     371
2       Ellyse Perry  AUS     366
3     Marizanne Kapp   SA     349
4        Amelia Kerr   NZ     336
5      Deepti Sharma  IND     322
6   Ashleigh Gardner  AUS     292
7      Jess Jonassen  AUS     250
8           Nida Dar  PAK     232
9  Sophie Ecclestone  ENG     205

In [208]:
cnbcr=requests.get('https://www.cnbc.com/world/?region=world')
cnbcr

In [209]:
cnbc=BeautifulSoup(cnbcr.content)

In [210]:
head=[]
for i in cnbc.find_all('a',class_='LatestNews-headline'):
    head.append(i.text)
print(head,end='')

["A.I. poses existential risk of people being 'harmed or killed,' ex-Google CEO Eric Schmidt says", "Jim Cramer's top 10 things to watch in the stock market Wednesday", 'Financial coach: Why an HSA is at least 17% better than a 401(k)', "Wednesday's top analyst calls: Tesla, Amazon, Alphabet, Netflix, Apple & more", 'Citigroup to spin off its Mexico business after efforts to sell unit collapse', "Airbnb CEO: Here's 'the best piece of advice I ever got'", 'Meta has started its latest round of layoffs, focusing on business groups', 'SoftBank hits back at S&P after it cuts credit rating further into junk', 'Abercrombie & Fitch surges 18% after reporting surprise profit', 'Bank of America boosts price target on Eli Lilly to $500 on obesity drug demand', "Stocks making the biggest moves premarket: Moderna, Kohl's, Intuit & more", 'Without a hint of irony, Putin rages against countries that meddle in other states', 'Top EU regulator defends mega $1.3 billion privacy fine on Meta', 'Psychology expert: 7 toxic signs of a passive-aggressive co-worker—and how to cope', "First Astranis internet satellite working ‘perfectly' over Alaska", 'Chinese Tesla rival shares dive 11% after it forecasts a plunge in car deliveries', "The U.S. isn't the only country with a debt ceiling. Here's how Denmark avoids the drama", 'Password sharing crackdown can lead to big gains for Netflix, Oppenheimer says', 'France bans short-haul flights as it looks to cut transport emissions', "Kohl's shares spike as retailer reports a surprise profit", 'Mortgage demand drops again as rates cross back over 7%', 'Buy this beat-down regional bank with capital strength, Jefferies says', "Goldman Sachs backs Japan's biggest taxi app with $1 billion valuation", '5 things to know before the stock market opens Wednesday', 'Jefferies says this housing cycle bellwether can rally more than 20%', 'The AI-driven rally in big tech stocks is forcing us to consider some trimming', "Greek stocks have climbed 40% over the last year — as the country shakes off 'problem child of Europe' label", 'Treasury yields steady as investors watch debt ceiling talks, economic reports', "Europe is producing more startup 'mafias' than ever despite tech rout", "Russia says it'll react 'extremely harshly' to any further border attacks; Kyiv fights back in Bakhmut"]

In [211]:
time=[]
for i in cnbc.find_all('time',class_='LatestNews-timestamp'):
    time.append(i.text)
print(time,end='')

['37 Min Ago', '46 Min Ago', '58 Min Ago', '1 Hour Ago', '1 Hour Ago', '1 Hour Ago', '1 Hour Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '2 Hours Ago', '3 Hours Ago', '3 Hours Ago', '3 Hours Ago', '4 Hours Ago', '4 Hours Ago', '4 Hours Ago', '4 Hours Ago', '5 Hours Ago', '6 Hours Ago', '6 Hours Ago', '7 Hours Ago']

In [212]:
links=[]
for i in cnbc.find_all('a',class_='LatestNews-headline'):
    links.append(i.get('href'))
print(links,end='')

['https://www.cnbc.com/2023/05/24/ai-poses-existential-risk-former-google-ceo-eric-schmidt-says.html', 'https://www.cnbc.com/2023/05/24/jim-cramers-top-10-things-to-watch-in-the-stock-market-wednesday.html', 'https://www.cnbc.com/2023/05/24/financial-coach-why-an-hsa-is-at-least-17percent-better-than-a-401k.html', 'https://www.cnbc.com/2023/05/24/wednesdays-biggest-wall-street-analyst-calls.html', 'https://www.cnbc.com/2023/05/24/citigroup-to-spin-off-its-mexico-business-through-ipo.html', 'https://www.cnbc.com/2023/05/24/airbnb-ceo-brian-chesky-heres-the-best-piece-of-advice-i-ever-got.html', 'https://www.cnbc.com/2023/05/24/meta-layoffs-latest-round-of-cuts-focuses-on-business-groups.html', 'https://www.cnbc.com/2023/05/24/softbank-hits-back-at-sp-after-it-cuts-credit-rating-further-into-junk.html', 'https://www.cnbc.com/2023/05/24/abercrombie-fitch-anf-q1-earnings-report-2023.html', 'https://www.cnbc.com/2023/05/24/bank-of-america-boosts-price-target-on-eli-lilly-to-500-on-obesity-drug-demand.html', 'https://www.cnbc.com/2023/05/24/stocks-making-the-biggest-moves-premarket-moderna-kohls-intuit-analog-devices-more.html', 'https://www.cnbc.com/2023/05/24/having-invaded-ukraine-putin-rages-against-countries-that-meddle.html', 'https://www.cnbc.com/2023/05/24/irish-data-regulator-defends-1point3-billion-meta-fine.html', 'https://www.cnbc.com/2023/05/24/psychology-expert-shares-toxic-signs-of-passive-aggressive-co-worker-and-how-to-cope.html', 'https://www.cnbc.com/2023/05/24/astranis-first-internet-satellite-over-alaska-working-perfectly.html', 'https://www.cnbc.com/2023/05/24/xpeng-xpev-q1-2023-earnings-report-deliveries-forecast-to-fall.html', 'https://www.cnbc.com/2023/05/24/the-us-isnt-the-only-country-with-a-debt-ceiling-heres-how-denmark-avoids-the-drama.html', 'https://www.cnbc.com/2023/05/24/password-sharing-crackdown-in-us-can-lead-to-big-gains-for-netflix-oppenheimer-says.html', 'https://www.cnbc.com/2023/05/24/france-bans-domestic-short-haul-flights.html', 'https://www.cnbc.com/2023/05/24/kohls-kss-earnings-q12023.html', 'https://www.cnbc.com/2023/05/24/mortgage-demand-drops-again-as-rates-cross-back-over-7percent.html', 'https://www.cnbc.com/2023/05/24/buy-this-beat-down-regional-bank-with-capital-strength-jefferies-says.html', 'https://www.cnbc.com/2023/05/24/goldman-sachs-backs-japans-go-inc-taxi-app-valuing-it-at-1-billion.html', 'https://www.cnbc.com/2023/05/24/5-things-to-know-before-the-stock-market-opens-wednesday-may-24.html', 'https://www.cnbc.com/2023/05/24/jefferies-says-this-housing-cycle-bellwether-can-rally-more-than-20percent.html', 'https://www.cnbc.com/2023/05/24/the-ai-driven-rally-in-big-tech-stocks-is-forcing-us-to-consider-some-trimming.html', 'https://www.cnbc.com/2023/05/24/greek-stocks-have-soared-as-it-shakes-off-problem-child-of-europe-tag.html', 'https://www.cnbc.com/2023/05/24/us-treasurys-investors-watch-debt-ceiling-talks-economic-reports.html', 'https://www.cnbc.com/2023/05/24/europe-and-israel-produce-more-startup-mafias-despite-tech-rout-accel.html', 'https://www.cnbc.com/2023/05/24/ukraine-war-live-updates-latest-news-on-russia-and-the-war-in-ukraine.html']

In [213]:
len(time),len(head),len(links)

(30, 30, 30)

In [214]:
News_Details=pd.DataFrame({'Headings':head,'Time':time,"Links":links})
News_Details

,Headings,Time,Links
0,A.I. poses existential risk of people being 'h...,37 Min Ago,https://www.cnbc.com/2023/05/24/ai-poses-exist...
1,Jim Cramer's top 10 things to watch in the sto...,46 Min Ago,https://www.cnbc.com/2023/05/24/jim-cramers-to...
2,Financial coach: Why an HSA is at least 17% be...,58 Min Ago,https://www.cnbc.com/2023/05/24/financial-coac...
3,"Wednesday's top analyst calls: Tesla, Amazon, ...",1 Hour Ago,https://www.cnbc.com/2023/05/24/wednesdays-big...
4,Citigroup to spin off its Mexico business afte...,1 Hour Ago,https://www.cnbc.com/2023/05/24/citigroup-to-s...
5,Airbnb CEO: Here's 'the best piece of advice I...,1 Hour Ago,https://www.cnbc.com/2023/05/24/airbnb-ceo-bri...
6,"Meta has started its latest round of layoffs, ...",1 Hour Ago,https://www.cnbc.com/2023/05/24/meta-layoffs-l...
7,SoftBank hits back at S&P after it cuts credit...,2 Hours Ago,https://www.cnbc.com/2023/05/24/softbank-hits-...
8,Abercrombie & Fitch surges 18% after reporting...,2 Hours Ago,https://www.cnbc.com/2023/05/24/abercrombie-fi...
9,Bank of America boosts price target on Eli Lil...,2 Hours Ago,https://www.cnbc.com/2023/05/24/bank-of-americ...
10,Stocks making the biggest moves premarket: Mod...,2 Hours Ago,https://www.cnbc.com/2023/05/24/stocks-making-...
11,"Without a hint of irony, Putin rages against c...",2 Hours Ago,https://www.cnbc.com/2023/05/24/having-invaded...
12,Top EU regulator defends mega $1.3 billion pri...,2 Hours Ago,https://www.cnbc.com/2023/05/24/irish-data-reg...
13,Psychology expert: 7 toxic signs of a passive-...,2 Hours Ago,https://www.cnbc.com/2023/05/24/psychology-exp...
14,First Astranis internet satellite working ‘per...,2 Hours Ago,https://www.cnbc.com/2023/05/24/astranis-first...
15,Chinese Tesla rival shares dive 11% after it f...,2 Hours Ago,https://www.cnbc.com/2023/05/24/xpeng-xpev-q1-...
16,The U.S. isn't the only country with a debt ce...,2 Hours Ago,https://www.cnbc.com/2023/05/24/the-us-isnt-th...
17,Password sharing crackdown can lead to big gai...,2 Hours Ago,https://www.cnbc.com/2023/05/24/password-shari...
18,France bans short-haul flights as it looks to ...,2 Hours Ago,https://www.cnbc.com/2023/05/24/france-bans-do...
19,Kohl's shares spike as retailer reports a surp...,3 Hours Ago,https://www.cnbc.com/2023/05/24/kohls-kss-earn...
20,Mortgage demand drops again as rates cross bac...,3 Hours Ago,https://www.cnbc.com/2023/05/24/mortgage-deman...
21,Buy this beat-down regional bank with capital ...,3 Hours Ago,https://www.cnbc.com/2023/05/24/buy-this-beat-...
22,Goldman Sachs backs Japan's biggest taxi app w...,4 Hours Ago,https://www.cnbc.com/2023/05/24/goldman-sachs-...
23,5 things to know before the stock market opens...,4 Hours Ago,https://www.cnbc.com/2023/05/24/5-things-to-kn...
24,Jefferies says this housing cycle bellwether c...,4 Hours Ago,https://www.cnbc.com/2023/05/24/jefferies-says...
25,The AI-driven rally in big tech stocks is forc...,4 Hours Ago,https://www.cnbc.com/2023/05/24/the-ai-driven-...
26,Greek stocks have climbed 40% over the last ye...,5 Hours Ago,https://www.cnbc.com/2023/05/24/greek-stocks-h...
27,Treasury yields steady as investors watch debt...,6 Hours Ago,https://www.cnbc.com/2023/05/24/us-treasurys-i...
28,Europe is producing more startup 'mafias' than...,6 Hours Ago,https://www.cnbc.com/2023/05/24/europe-and-isr...
29,Russia says it'll react 'extremely harshly' to...,7 Hours Ago,https://www.cnbc.com/2023/05/24/ukraine-war-li...

In [215]:
mdar=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
mdar

In [216]:
mda=BeautifulSoup(mdar.content)

In [217]:
pt=[]
for i in mda.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
     pt.append(i.text)
pt

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social human–robot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? – A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [218]:
a=[]
for i in mda.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
     a.append(i.text)

In [219]:
pda=[]
for i in mda.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
     pda.append(i.text)

In [220]:
l=[]
for i in mda.find_all('a',class_='sc-5smygv-0 fIXTHm'):
     l.append(i.get('href'))

In [221]:
len(pda),len(a),len(pt),len(l)

(24, 24, 24, 24)

In [222]:
Most_Downloaded_Articles=pd.DataFrame({'Paper Title':pt,"Author":a,"Published Date":pda,"Links":l,})
Most_Downloaded_Articles

,Paper Title,Author,Published Date,Links
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

In [223]:
resr=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
resr

In [224]:
res=BeautifulSoup(resr.content)

In [225]:
rn=[]
for i in res.find_all('a',class_='restnt-name ellipsis'):
    rn.append(i.text)
rn

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 "Castle's Barbeque",
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [226]:
rc=[]
for i in res.find_all('span',class_='double-line-ellipsis'):
    rc.append(i.text.split('|')[1])
rc

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [227]:
rl=[]
for i in res.find_all('div',class_='restnt-loc ellipsis'):
    rl.append(i.text)
rl

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [228]:
rr=[]
for i in res.find_all('div',class_='restnt-rating rating-4'):
    rr.append(i.text)
rr

['4', '3.9', '4.3', '3.9', '3.9', '3.9', '3.7', '3.8', '4.3']

In [229]:
ri=[]
for i in res.find_all('img',class_='no-img'):
    ri.append(i.get('data-src'))

In [230]:
Best_Buffet_Restaurants=pd.DataFrame({"Name":rn,'Cuisine':rc,"Location":rl,"Ratings":rr,"Images (Link)":ri})
Best_Buffet_Restaurants

,Name,Cuisine,Location,Ratings,Images (Link)
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...